/* 

NAVBAR CSS

*/
/* 

FOOTER CSS

*/
@import "https://fonts.googleapis.com/css?family=Rubik:300,400,500,700";
.dropdown {
	&:hover {
		>.dropdown-menu {
			display: block;
		}
	}
}
.dropdown-toggle {
	&::after {
		display: none;
	}
}
body {
	font-family: Rubik,sans-serif;
	position: relative;
	font-weight: 400;
	font-size: 15px;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	&:focus {
		text-decoration: none;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
		outline: 0;
	}
	&:hover {
		text-decoration: none;
		-webkit-transition: .3s ease;
		-o-transition: .3s ease;
		transition: .3s ease;
	}
	color: #5867dd;
}
img {
	max-width: 100%;
}
p {
	font-size: 16px;
	line-height: 30px;
	color: #898b96;
	font-weight: 300;
}
h4 {
	font-family: Rubik,sans-serif;
	margin: 0;
	font-weight: 400;
	padding: 0;
	color: #363940;
}
.no-padding {
	padding: 0 !important;
}
.go_top {
	line-height: 40px;
	cursor: pointer;
	width: 40px;
	background: #5867dd;
	color: #fff;
	position: fixed;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.1);
	box-shadow: 0 4px 4px rgba(0,0,0,.1);
	-webkit-border-radius: 50%;
	border-radius: 50%;
	right: -webkit-calc((100% - 1140px)/ 2);
	right: calc((100% - 1140px)/ 2);
	z-index: 111;
	bottom: 80px;
	text-align: center;
	span {
		display: inline-block;
	}
}
.footer-big {
	padding: 105px 0 65px 0;
	.footer-widget {
		margin-bottom: 40px;
	}
	.footer-menu {
		ul {
			li {
				a {
					color: #898b96;
				}
			}
		}
	}
	p {
		color: #898b96;
	}
	ul {
		li {
			color: #898b96;
		}
	}
}
.footer--light {
	background: #e7e8ed;
}
.footer-menu {
	padding-left: 48px;
	ul {
		li {
			a {
				font-size: 15px;
				line-height: 32px;
				-webkit-transition: .3s;
				-o-transition: .3s;
				transition: .3s;
				&:hover {
					color: #5867dd;
				}
			}
		}
	}
}
.footer-menu--1 {
	width: 100%;
}
.footer-widget-title {
	line-height: 42px;
	margin-bottom: 10px;
	font-size: 18px;
}
.mini-footer {
	background: white;
	text-align: center;
	padding: 32px 0;
	p {
		margin: 0;
		line-height: 26px;
		font-size: 15px;
		color: #999;
		a {
			color: #5867dd;
			&:hover {
				color: #34bfa3;
			}
		}
	}
}
.widget-about {
	img {
		display: block;
		margin-bottom: 30px;
	}
	p {
		font-weight: 400;
	}
	.contact-details {
		margin: 30px 0 0 0;
		li {
			margin-bottom: 10px;
			&:last-child {
				margin-bottom: 0;
			}
			span {
				padding-right: 12px;
			}
			a {
				color: #5867dd;
			}
		}
	}
}
@media (max-width:991px) {
	.footer-menu {
		padding-left: 0;
	}
}
